<h2 style="text-align: center;">Daftar Hewan</h2>
<table class="hewan-table">
  <thead>
    <tr>
      <th style="text-align: center;">ID</th>
      <th style="text-align: center;">Nama</th>
      <th style="text-align: center;">Jenis</th>
      <th style="text-align: center;">Umur</th>
      <th style="text-align: center;">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% hewan.forEach((h) => { %>
      <tr>
        <td style="text-align: center;"><%= h.id %></td>
        <td style="text-align: center;"><%= h.nama %></td>
        <td style="text-align: center;"><%= h.jenis %></td>
        <td style="text-align: center;"><%= h.umur %></td>
        <td style="text-align: center;">
          <a href="/edit/<%= h.id %>">Edit</a> |
          <a href="/delete/<%= h.id %>" onclick="return confirm('Yakin ingin menghapus?')">Hapus</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
